<form class="book-form" [formGroup]="bookForm" (submit)="onSubmit()">
  <mat-form-field class="book-full-width">
    <input matInput formControlName="author" placeholder="Автор" />
  </mat-form-field>

  <mat-form-field class="book-full-width">
    <input matInput formControlName="title" placeholder="Название" />
  </mat-form-field>

  <mat-form-field class="book-full-width">
    <input matInput formControlName="year" placeholder="Год" />
  </mat-form-field>

  <div class="button-container">
    <button mat-fab type="submit" color="primary">
      <i class="material-icons">save</i>
    </button>
  </div>
</form>
