<form class="customer-form" [formGroup]="customerForm" (submit)="onSubmit()">
  <mat-form-field class="customer-full-width">
    <input matInput formControlName="lastName" placeholder="Фамилия" />
  </mat-form-field>

  <mat-form-field class="customer-full-width">
    <input matInput formControlName="firstName" placeholder="Имя" />
  </mat-form-field>

  <div formGroupName="additionalInfo">
    <mat-form-field class="customer-full-width">
      <input matInput formControlName="email" placeholder="Электронная почта" />
    </mat-form-field>

    <mat-form-field class="customer-full-width">
      <input matInput formControlName="phone" placeholder="Телефон" />
    </mat-form-field>
  </div>

  <div class="button-container">
    <button mat-fab type="submit" color="primary">
      <i class="material-icons">save</i>
    </button>
  </div>
</form>
