<div class="container">

  <table mat-table
    *ngIf="customer"
    [dataSource]="customer"
    class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell
        *matHeaderCellDef> Номер </th>
      <td mat-cell
        *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell
        *matHeaderCellDef> Фамилия </th>
      <td mat-cell
        *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell
        *matHeaderCellDef> Имя </th>
      <td mat-cell
        *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell
        *matHeaderCellDef> Электронная почта </th>
      <td mat-cell
        *matCellDef="let element"> {{element.additionalInfo.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell
        *matHeaderCellDef> Телефон </th>
      <td mat-cell
        *matCellDef="let element"> {{element.additionalInfo.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell
        *matHeaderCellDef> </th>
      <td mat-cell
        *matCellDef="let element">
        <a class="update"
          routerLink="/customer/edit/{{element.id}}">
          <i class="material-icons">edit</i>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell
        *matHeaderCellDef> </th>
      <td mat-cell
        *matCellDef="let element">
        <i class="material-icons delete"
          (click)="deleteCustomer(element.id)">delete</i>
      </td>
    </ng-container>

    <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>